*{
    padding:0;
    margin: 0;
    font-family: 'Alegreya', serif;
    color: #333;
}
body h3{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

header{
    height: 70px;
}
/* modifikasi pada header */
header h1{
    display: inline-block;
    float: left; /* posisi text*/
    padding: 15px 24px;
    text-transform: uppercase;

    
}
header h1 a{
    text-decoration: none;
}
/* text daniel ketika disentuh berubah warna perlahan */
header h1 a {
    transition: .24s;
}

/* warna yang berubah ketika disentuh */
header h1 a:hover{
    color: #7579e7;
}

/* modidikasi pada unordered list */
header ul{
    float: right;/* posisi ul*/
}

/* modifikasi bentuk ul li menjadi datar menyamping */
header ul li{
    padding: 24px;
    display: inline-block;
}

/* warna text ul ketika disentuh */
header ul li a:hover{
    color: #fa7f72;
}

/* ul berubah warna ketika disentuh perlahan */
header ul li a{
    transition: .24s;
}

/* anchor text tidak mengubah font */
a{
    text-decoration: none;
}

/* container untuk header (berisi header text daniel dan ul li about,skill,portofolio, contact  */
.container{
    width: 90%;
    margin: 0 auto;
}


.container::after{
    content:  "";
    display: block;
    clear: both;
}

/* menu tidak ditampilkan pada tampilan layar lebar */
.mobile-menu{
    float: right;
    display: none;
    padding: 17.5px;
}

/* mengubah cursor menjadi pointer ketika diarahkan pada bar */
.mobile-menu:hover{
    cursor: pointer;
}

#check{
    display: none;
}

/* tampilan sidebar */
.sidebar{
    position: fixed;/*mengikuti scroll*/
    top: 0;/*tempel atas*/
    bottom: 0;/*tempel bawah*/
    left: -225px;/*tempel kiri*/
    width: 225px;/*ukuran 300px*/
    background-color: rgba(84, 85, 95, .8/*tembus pandang*/);/*ubah warna !!*/
    transition: .24s;
    z-index: 9999;
}

/* tampilan text pada sidebar */
.sidebar ul li a{
    text-decoration: none;
    color: #132743;
    font-family: 'PT Sans Caption', sans-serif;
    
}

/* pengaturan pada posisi menu dan lama perubahan warna */
.sidebar ul li{
    padding: 24px;
    transition: .24s;
    transition-property: background-color;
}

/* tampilan menu berubah warna ketika disentuh kursor */
.sidebar ul li:hover{
    background-color: #e8ffff;
}

/* pengaturan ketika bar diklik maka sidebar akan muncul */
#check:checked ~ .sidebar{
    left: 0;
}

/* pengaturan banner */
.banner{
    background-color:#646464;
    padding: 120px 0px;
}

section{
    padding: 50px 0;
}

.banner img{
    width: 125px;
    border-radius: 10px;
    box-shadow: 0 3px 5px grey;
    margin-bottom: 10px;
    
}
.banner h2, .banner p, .banner h2 span{
    color: #011627;
    font-family: 'Vollkorn', serif;
}

.banner h2{
    margin-bottom: 10px;
}
.banner p{
    font-size: 20px;
}

.banner-left{
    padding-left: 24px;
}

section h3{
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;

}

section h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1.5px;
    background-color: rgb(94, 94, 94);
    left: calc(50% - 60px);
}
section h3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 3.5px;
    background-color: rgb(136, 0, 0);
    left: calc(50% - 20px);
}

#about p {
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
    margin-bottom: 15px;
    font-family: 'Sansita Swashed', cursive;;
}
#skills,
#contact {
    background-color: #f9f9f9;
}
#skills .bar {
	height: 30px;
	background-color: #fff;
	border:1px solid #ddd;
	margin: 5px 0 20px 0;
}
.bar .nilai {
	height:30px;
	background-color: #0f3057;
	display: inline-block;
	color: #b9fffc;
	text-align: center;
}
.html {
	width:65%;
}
.css {
	width:60%;
}
.js {
	width:50%;
}


.ps {
	width:50%;
}
.col-4 {
	width:25%;
	box-sizing: border-box;
	padding:5px;
	float: left;
	text-align: center;
    margin-bottom: 35px;
}
.col-4 img {
    width:80px;
    
}

.col-4 a{
    text-decoration: none;
    color: #333;
}
.col-4 a:hover img {
	transform: scale(1.2);
}
.col-3 {
	width:33.33%;
	box-sizing: border-box;
	float: left;
	text-align: center;
    padding:50px 10px;
    font-family: 'Poiret One', cursive;
    
}
.col-3 h4 {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
    margin-bottom: 15px;    
}
.col-3 p{
    font-family: 'Raleway', sans-serif;
}
footer {
	background-color: #333;
	padding:15px;
	text-align: center;
}
footer small {
	color: #fff;
}
html {
	scroll-behavior: smooth;
}


@media (max-width: 768px){  /**/
    .mobile-menu{           /*menu ditampilkan pada layar  berukuran 768 pixel atau lebih kecil*/
        display: block;     /**/
    }
    header ul{          /**/
        display: none;  /*ul tidak ditampilkan pada layar berukuran 768 pixel atau lebih kecil*/
    }                   /**/
}

@media (min-width: 768px){
    .sidebar{
        display: none;
    }
}

